//
// Variables
// --------------------------------------------------

//
// Paths
// --------------------------------------------------

$path-img: '../../dist/img';
$path-fonts: '../../dist/fonts';

//
// Colors
// --------------------------------------------------

$color-base: #444;
$color-primary: #1ca379;
