<section class="section" id="about">
	<div class="container">
		<h2 class="title">{{ about.title }}</h2>
		
		<img class="avatar loading" src="{{ about.image }}" alt="Imagem de Vitor Melo tentando fazer uma pose sensual." width="850" height="315">
		<p>{{ about.text }}</p>
	</div>
</section>
