.df {
  display: flex;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.dn {
  display: none;
}

// gap

.g8 {
  gap: 8px;
}

.g16 {
  gap: 16px;
}

.g32 {
  gap: 32px;
}

// margin

.m8 {
  margin: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 16px;
}

.m16 {
  margin: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.ml16 {
  margin-left: 16px;
}

.m32 {
  margin: 32px;
}

.mt32 {
  margin-top: 32px;
}

.mr32 {
  margin-right: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml32 {
  margin-left: 32px;
}

.ml32 {
  margin-left: 32px;
}

/* padding */

/* 8px */

.p8 {
  padding: 8px;
}

.pt8 {
  margin-top: 8px;
}

.pr8 {
  margin-right: 8px;
}

.pb8 {
  margin-bottom: 8px;
}

.pl8 {
  margin-left: 8px;
}

/* 16px */

.p16 {
  padding: 16px;
}

.pt16 {
  margin-top: 16px;
}

.pr16 {
  margin-right: 16px;
}

.pb16 {
  margin-bottom: 16px;
}

.pl16 {
  margin-left: 16px;
}

/* 32px */

.p32 {
  padding: 32px;
}

.pt32 {
  margin-top: 32px;
}

.pr32 {
  margin-right: 32px;
}

.pb32 {
  margin-bottom: 32px;
}

.pl32 {
  margin-left: 32px;
}

// align

.aic {
  align-items: center;
}
