---
import PageControl from "../components/PageControl.vue";
import ColorControl from "../components/ColorControl.vue";
---

<nav id="controls">
  <PageControl client:iddle />
  <ColorControl client:iddle />
</nav>