---
import About from '../components/About.vue';
import Experiences from "../components/Experiences.vue";
import Education from "../components/Education.vue";
import Certifications from "../components/Certifications.vue";
import Services from "../components/Services.vue";
import Skills from "../components/Skills.vue";
---

<main>
  <About />
  <Experiences />
  <Education />
  <Certifications />
  <Services />
  <Skills />
</main>

<script>
  document.querySelector('main section').classList.add('active');
</script>