<section class="section" id="experiences">
    <div class="container">
    
        <h2 class="title">{{ .Site.Data.experiences.title }}</h2>

        {{ range .Site.Data.experiences.experiences }}
            <div class="experience">
                <div class="name" itemprop="jobTitle">{{ .name }}</div>
                <div class="org" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="{{ .org_link }}" target="_blank"><span itemprop="name">{{ .org_name }}</span></a></div>
                <div class="time"><span>{{ .date_start }}</span> &ndash; <span>{{ .date_end }}</span></div>
            </div>
        {{ end }}
        
    </div>
</section>
