<section class="section" id="services" itemscope itemtype="http://schema.org/Service">
	<div class="container">
		<h2 class="title">{{ .Site.Data.services.title }}</h2>

		<div class="services">
			{{ range .Site.Data.services.services }}
				<div class="service">
					<div class="circle">
						<img class="icon" src="dist/img/icons/{{ .icon }}.svg" alt="Ícone de {{ .name }}" width="128" height="128" onerror="this.src='dist/img/icons/{{ .icon }}.png'; this.onerror=null;">
					</div>
					<h3 class="name" itemprop="name">{{ .name }}</h3>
					<p class="description" itemprop="description">{{ .description }}</p>
				</div>
			{{ end }}
		</div>		
	</div>
</section>
