{% include "header.njk" %}
{% include "nav.njk" %}
{% include "about.njk" %}
{% include "services.njk" %}
{% include "portfolio.njk" %}
{% include "education.njk" %}
{% include "certifications.njk" %}
{% include "skills.njk" %}
{% include "experiences.njk" %}
{% include "social.njk" %}
{% include "footer.njk" %}