*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body-bg);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--body-fg);
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

section {
  margin: 0 0 32px 0;
}

h2 {
  margin: 0 0 16px 0;
  font-size: 32px;
  font-weight: 600;
  color: var(--section-title-fg);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s;
}
