// https://material.io/resources/color
// https://www.materialui.co/colors
// https://blog.prototypr.io/how-to-design-a-dark-theme-for-your-android-app-3daeb264637
// Primary: Light Blue 600

:root {
  // colors
  --white: #fff;
  --grey050: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --dark-grey: #121212;
  --black: #000;

  // primary
  --primary: #039be5;
  --primary-light: #63ccff;
  --primary-dark: #006db3;

  // body
  --body-bg: var(--white);
  --body-fg: var(--grey700);

  // selection
  --selection-bg: var(--primary-light);
  --selection-fg: var(--grey800);

  // menu
  --menu-fg: var(--grey600);
  --menu-fg-hover: var(--primary);
  --menu-fg-active: var(--grey800);

  // section
  --section-title-fg: #333;

  // button
  --btn-bg: var(--grey100);
  --btn-fg: var(--grey500);
  --btn-hover-bg: var(--primary);
  --btn-hover-fg: var(--white);
  --btn-active-bg: var(--grey800);
  --btn-active-fg: var(--white);

  // dark mode
  .color-scheme-dark {
    // body
    --body-bg: var(--dark-grey);
    --body-fg: var(--grey300);

    // menu
    --menu-fg: var(--grey050);
    --menu-fg-hover: var(--primary);
    --menu-fg-active: var(--grey700);

    // section
    --section-title-fg: var(--grey200);

    // selection
    --selection-bg: var(--primary-light);
    --selection-fg: var(--grey800);

    // button
    --btn-bg: #1e1e1e;
    --btn-fg: var(--grey200);
    --btn-hover-bg: var(--primary-dark);
    --btn-hover-fg: var(--white);
    --btn-active-bg: var(--grey800);
    --btn-active-fg: var(--white);

    // section
    --section-title-fg: var(--grey050);
  }
}
