// https://material.io/resources/color
// https://www.materialui.co/colors
// https://blog.prototypr.io/how-to-design-a-dark-theme-for-your-android-app-3daeb264637
// Primary: Light Blue 600

:root {
  // colors
  --white: #fff;
  --grey050: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --dark-grey: #121212;
  --black: #000;

  // primary
  --primary: #039be5;
  --primary-light: #63ccff;
  --primary-dark: #006db3;

  // body
  --body-bg: var(--white);
  --body-fg: var(--grey700);

  // selection
  --selection-bg: var(--primary-light);
  --selection-fg: var(--grey800);

  // menu
  --logo-fg: var(--grey800);
  --menu-fg: var(--grey600);
  --menu-fg-hover: var(--primary);
  --menu-fg-active: var(--primary);
  --menu-ripple-bg: var(--grey300);

  // section
  --section-title-fg: var(--grey800);

  // skill
  --skill-bg: var(--grey100);
  --skill-fg: var(--grey800);

  // button
  --btn-bg: var(--grey100);
  --btn-fg: var(--grey500);
  --btn-hover-bg: var(--primary);
  --btn-hover-fg: var(--white);
  --btn-active-bg: var(--grey800);
  --btn-active-fg: var(--white);

  // =dark
  .dark {
    // body
    --body-bg: var(--dark-grey);
    --body-fg: var(--grey300);

    // selection
    --selection-bg: var(--primary-light);
    --selection-fg: var(--grey800);

    // menu
    --logo-fg: var(--grey050);
    --menu-fg: var(--grey050);
    --menu-fg-hover: var(--primary);
    --menu-fg-active: var(--primary);
    --menu-ripple-bg: var(--grey700);

    // section
    --section-title-fg: var(--grey200);

    // skill
    --skill-bg: var(--grey900);
    --skill-fg: var(--white);

    // button
    --btn-bg: #1e1e1e;
    --btn-fg: var(--grey200);
    --btn-hover-bg: var(--primary-dark);
    --btn-hover-fg: var(--white);
    --btn-active-bg: var(--grey800);
    --btn-active-fg: var(--white);
    // section

    --section-title-fg: var(--grey050);

    .avatar {
      opacity: 0.75;
    }
  }

  // =contrast
  .contrast {
    // colors
    --white: white;
    --grey050: black;
    --grey100: black;
    --grey200: black;
    --grey300: black;
    --grey400: black;
    --grey500: black;
    --grey600: black;
    --grey700: black;
    --grey800: black;
    --grey900: black;
    --dark-grey: black;
    --black: black;

    // primary
    --primary: blue;
    --primary-light: blue;
    --primary-dark: blue;

    // body
    --body-bg: white;
    --body-fg: black;

    // selection
    --selection-bg: blue;
    --selection-fg: white;

    // menu
    --logo-fg: black;
    --menu-fg: black;
    --menu-bg-hover: blue;
    --menu-fg-hover: white;
    --menu-bg-active: purple;
    --menu-fg-active: white;
    --menu-ripple-bg: transparent;

    // section
    --section-title-fg: black;

    // skill
    --skill-bg: black;
    --skill-fg: white;

    // button
    --btn-bg: black;
    --btn-fg: white;
    --btn-hover-bg: var(--primary);
    --btn-hover-fg: white;
    --btn-active-bg: purple;
    --btn-active-fg: white;
  }
  // =dark.contrast
  .dark.contrast {
    // primary
    --primary: aqua;
    --primary-light: aqua;
    --primary-dark: aqua;

    // body
    --body-bg: black;
    --body-fg: white;

    // selection
    --selection-bg: yellow;
    --selection-fg: black;

    // menu
    --logo-fg: white;
    --menu-fg: white;
    --menu-bg-hover: var(--primary);
    --menu-fg-hover: black;
    --menu-bg-active: yellow;
    --menu-fg-active: black;

    // section
    --section-title-fg: white;

    // skill
    --skill-bg: white;
    --skill-fg: black;

    // button
    --btn-bg: white;
    --btn-fg: black;
    --btn-hover-bg: var(--primary);
    --btn-hover-fg: black;
    --btn-active-bg: yellow;
    --btn-active-fg: black;
  }
}
