#app {
  display: grid;
  grid-template-areas:
    'menu main controls'
    'menu main controls'
    'menu main controls';
  grid-template-columns: 24vw 1fr auto;
  gap: var(--gap3);
}

#controls {
  grid-area: controls;
  position: sticky;
  top: 0;
  display: grid;
  grid-template:
    'color'
    'gap'
    'page';
  grid-template-rows: auto minmax(8px, 1fr) auto;
  height: 100vh;
  justify-items: end;
  padding: 16px;
}

main {
  grid-area: main;
}

section {
  display: none;
  margin-bottom: var(--gap3);
}

section.active {
  display: block;
}

h2 {
  padding: var(--gap3) 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: var(--section-title-fg);
}

.education,
.certification,
.experience {
  margin-bottom: var(--gap3);
}

.education,
.certification,
.experience,
.service {
  .name {
    font-size: 18px;
    font-weight: 500;
    color: var(--section-title-fg);
  }
}

#contact {
  height: 500px;
}
