:root {
  --gap: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: var(--body-bg);
  color: var(--body-fg);
}

h2 {
  color: var(--section-title-fg);
}

#app {
  display: grid;
  grid-template-columns: 24vw 1fr 128px;
  gap: 32px;
}

#controls {
  position: sticky;
  top: 0;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background: var(--grey100);
  color: var(--grey500);

  &:hover {
    background: var(--primary);
    color: var(--white);
  }

  &:active {
    background: var(--grey800);
    color: var(--white);
    transition: none;
  }
  font-size: 24px;
}
