@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap';
@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';
@import 'variables.scss';
@import 'base.scss';
@import 'emmet.scss';
@import 'acessibility.scss';
@import 'layout.scss';
@import 'color.scss';
@import 'components.scss';
@import 'animation.scss';
